In [1]:
# Creating SparkSession
from pyspark.sql import  SparkSession

spark= SparkSession.builder.appName("First Project").getOrCreate()

In [18]:
#Checking Spark Session with Spark UI
spark

In [3]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [4]:
emp_data= spark.createDataFrame(emp_data,emp_schema)

In [5]:
#this is our action when we do a action then you can check on Spark UI Dataframe
emp_data.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [10]:
#TO check hoe many patiton is created
emp_data.rdd.getNumPartitions()

12

In [9]:
# We can check in which partion what data is
emp_data.rdd.glom().collect()

[[Row(employee_id='001', department_id='101', name='John Doe', age='30', gender='Male', salary='50000', hire_date='2015-01-01')],
 [Row(employee_id='002', department_id='101', name='Jane Smith', age='25', gender='Female', salary='45000', hire_date='2016-02-15'),
  Row(employee_id='003', department_id='102', name='Bob Brown', age='35', gender='Male', salary='55000', hire_date='2014-05-01')],
 [Row(employee_id='004', department_id='102', name='Alice Lee', age='28', gender='Female', salary='48000', hire_date='2017-09-30'),
  Row(employee_id='005', department_id='103', name='Jack Chan', age='40', gender='Male', salary='60000', hire_date='2013-04-01')],
 [Row(employee_id='006', department_id='103', name='Jill Wong', age='32', gender='Female', salary='52000', hire_date='2018-07-01')],
 [Row(employee_id='007', department_id='101', name='James Johnson', age='42', gender='Male', salary='70000', hire_date='2012-03-15'),
  Row(employee_id='008', department_id='102', name='Kate Kim', age='29', gender='Female', salary='51000', hire_date='2019-10-01')],
 [Row(employee_id='009', department_id='103', name='Tom Tan', age='33', gender='Male', salary='58000', hire_date='2016-06-01'),
  Row(employee_id='010', department_id='104', name='Lisa Lee', age='27', gender='Female', salary='47000', hire_date='2018-08-01')],
 [Row(employee_id='011', department_id='104', name='David Park', age='38', gender='Male', salary='65000', hire_date='2015-11-01')],
 [Row(employee_id='012', department_id='105', name='Susan Chen', age='31', gender='Female', salary='54000', hire_date='2017-02-15'),
  Row(employee_id='013', department_id='106', name='Brian Kim', age='45', gender='Male', salary='75000', hire_date='2011-07-01')],
 [Row(employee_id='014', department_id='107', name='Emily Lee', age='26', gender='Female', salary='46000', hire_date='2019-01-01'),
  Row(employee_id='015', department_id='106', name='Michael Lee', age='37', gender='Male', salary='63000', hire_date='2014-09-30')],
 [Row(employee_id='016', department_id='107', name='Kelly Zhang', age='30', gender='Female', salary='49000', hire_date='2018-04-01')],
 [Row(employee_id='017', department_id='105', name='George Wang', age='34', gender='Male', salary='57000', hire_date='2016-03-15'),
  Row(employee_id='018', department_id='104', name='Nancy Liu', age='29', gender='Female', salary='50000', hire_date='2017-06-01')],
 [Row(employee_id='019', department_id='103', name='Steven Chen', age='36', gender='Male', salary='62000', hire_date='2015-08-01'),
  Row(employee_id='020', department_id='102', name='Grace Kim', age='32', gender='Female', salary='53000', hire_date='2018-11-01')]]

In [12]:
# Write our first Transformation (EMP salary > 50000)

emp_final = emp_data.where("salary > 50000")

In [13]:
emp_final.rdd.getNumPartitions()

12

In [17]:
# Write data as CSV output (ACTION)
emp_final.write.format("csv").save("data1/output/1/emp.csv")